* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.o-group-button__label {
    background: #eee;
    border: 1px solid #ccc;
    display: inline-block;
    line-height: 30px;
    min-width: 60px;
    padding: 0 10px;
}

.o-group-button__button {
    display: none;
}

.o-group-button__button:checked ~ .o-group-button__label {
    background: #ccc;
}


.o-todoApp {
    --row-lines-color: #eee;

    background: linear-gradient(to bottom, #fff 0, #fff 31px, var(--row-lines-color) 31px, var(--row-lines-color) 32px);
    background-size: 100% 32px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    line-height: 32px;
    margin: 0 auto;
    max-width: 80%;
    min-height: 320px;
}

.o-todoApp__header {
    display: flex;
    justify-content: space-between;
}

.o-todoApp__button {
    background: transparent;
    border: 0;
    flex: none;
    font-size: 120%;
    min-width: 50px;
    outline: none;
}

.o-todoApp__button:hover,
.o-todoApp__button:focus {
    border: 1px solid #eee;
}

.o-todoApp__content {
    flex: 1 1 auto;
}

.o-todoApp__filter {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.o-todoApp__task {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}